.friendList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 15px 15px;
}

.item{
    display: inline-flex;
}

.name{
    display: flex;
    padding-left: 20px ;
}

.true {
    background-color: green;

}

.false{
background-color: red;

}
.avatar{
    display: flex;
    height: 70px ;
    background-image: cover;
    padding-left: 20px;
}