.statList{
list-style: none;
display: flex;
padding: 10px;
gap: 14px
;
/* justify-content: space-evenly; */
outline: 1px solid black;
}

.item{
    display: flex;
    flex-direction: column;
    /* background-color: function getRandomHexColor() {
            return `#${Math.floor(Math.random() * 16777215).toString(16)}`;
        }};
} */}
.statistics{
    display: flex;
    
}

.label{
    display: flex;
}

.percentage{

    display: flex;
    justify-content: center;
}

.title{
    display: flex;
}