.statList{
list-style: none;
display: flex;
padding: 10px;
gap: 14px
;
/* justify-content: space-evenly; */
outline: 1px solid black;
}

.item{
    display: flex;
    flex-direction: column;
   }
 /* .item:nth-child(odd) {
       background-color: #ff33cc;
   }

 .item:nth-child(even) {
       background-color: #e495e4;
   } */
.statistics{
    display: flex;
    
}

.label{
    display: flex;
}

.percentage{

    display: flex;
    justify-content: center;
}

.title{
    display: flex;
}